body {
  margin: 0%;
}
.section-divider {
  height: 250px;
  background-size: cover;
  background-position: 0% 45%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topimg {
  background-image: url("Images/top.jpg");
}
.midimg {
  background-image: url("Images/mid.jpg");
}
.btmimg {
  background-image: url("Images/btm.jpg");
}
.black-text {
  font-size: 32px;
  background-color: black;
  color: white;
  padding: 15px;
  letter-spacing: 10px;
}
.content {
  margin: 0 20%;
}
.description {
  flex-basis: 57%;
  margin-left: 3%;
  align-self: center;
}
.p-pic {
  flex-basis: 40%;
}
h1,
h2 {
  text-align: center;
}
.column {
  flex-basis: 20%;
  padding: 0 4px;
  box-sizing: border-box;
}
.footer {
  background-color: #888888;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px;
  opacity: 0.7;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .p-pic {
    flex-basis: 100%;
  }
  .column {
    flex-basis: 50%;
    padding: 0 4px;
    box-sizing: border-box;
  }
  .description {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex-basis: 100%;
  }
}
